body{
    background-image: url("mountain.jpg");
    font-size: x-large;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1700px 1700px;
}
h3{
    font-size: 25px;
    font-weight: 900;
}